<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.OperatorMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Operator" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="REALNAME" property="realname" jdbcType="VARCHAR" />
    <result column="TELNO" property="telno" jdbcType="VARCHAR" />
    <result column="WORKGROUP" property="workgroup" jdbcType="VARCHAR" />
    <result column="PWD" property="pwd" jdbcType="VARCHAR" />
    <result column="LASTLOGIN" property="lastlogin" jdbcType="TIMESTAMP" />
    <result column="PRIVILEGE" property="privilege" jdbcType="VARCHAR" />
    <result column="COUNTY_MASK" property="countyMask" jdbcType="VARCHAR" />
    <result column="DEFAULT_PERMIT" property="defaultPermit" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="DISTRICT_ID" property="districtId" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_ID" property="departmentId" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="VARCHAR" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_ID1" property="userId1" jdbcType="VARCHAR" />
    <result column="MERCHANT_CODE" property="merchantCode" jdbcType="VARCHAR" />
    <result column="PLATFORM" property="platform" jdbcType="INTEGER" />
    <result column="TOKEN" property="token" jdbcType="VARCHAR" />
    <result column="LOGIN_FAIL_TIMES" property="loginFailTimes" jdbcType="INTEGER" />
    <result column="FREEZE_TIME" property="freezeTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_PWD" property="lastLoginPwd" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="USER_ROLE" property="userRole" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from operator
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Operator" >
    insert into operator (ID, USERNAME, REALNAME, 
      TELNO, WORKGROUP, PWD, 
      LASTLOGIN, PRIVILEGE, COUNTY_MASK, 
      DEFAULT_PERMIT, STATUS, DISTRICT_ID, 
      DEPARTMENT_ID, CITY_CODE, CITY_NAME, 
      COUNTY_CODE, COUNTY_NAME, EMAIL, 
      ORG_ID, USER_ID, USER_ID1, 
      MERCHANT_CODE, PLATFORM, TOKEN, 
      LOGIN_FAIL_TIMES, FREEZE_TIME, LAST_LOGIN_PWD, 
      create_time, delete_flag, update_time, 
      USER_ROLE)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{telno,jdbcType=VARCHAR}, #{workgroup,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{lastlogin,jdbcType=TIMESTAMP}, #{privilege,jdbcType=VARCHAR}, #{countyMask,jdbcType=VARCHAR}, 
      #{defaultPermit,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{countyCode,jdbcType=VARCHAR}, #{countyName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userId1,jdbcType=VARCHAR}, 
      #{merchantCode,jdbcType=VARCHAR}, #{platform,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, 
      #{loginFailTimes,jdbcType=INTEGER}, #{freezeTime,jdbcType=TIMESTAMP}, #{lastLoginPwd,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{userRole,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Operator" >
    update operator
    set USERNAME = #{username,jdbcType=VARCHAR},
      REALNAME = #{realname,jdbcType=VARCHAR},
      TELNO = #{telno,jdbcType=VARCHAR},
      WORKGROUP = #{workgroup,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      LASTLOGIN = #{lastlogin,jdbcType=TIMESTAMP},
      PRIVILEGE = #{privilege,jdbcType=VARCHAR},
      COUNTY_MASK = #{countyMask,jdbcType=VARCHAR},
      DEFAULT_PERMIT = #{defaultPermit,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      COUNTY_NAME = #{countyName,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ORG_ID = #{orgId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_ID1 = #{userId1,jdbcType=VARCHAR},
      MERCHANT_CODE = #{merchantCode,jdbcType=VARCHAR},
      PLATFORM = #{platform,jdbcType=INTEGER},
      TOKEN = #{token,jdbcType=VARCHAR},
      LOGIN_FAIL_TIMES = #{loginFailTimes,jdbcType=INTEGER},
      FREEZE_TIME = #{freezeTime,jdbcType=TIMESTAMP},
      LAST_LOGIN_PWD = #{lastLoginPwd,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      USER_ROLE = #{userRole,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select ID, USERNAME, REALNAME, TELNO, WORKGROUP, PWD, LASTLOGIN, PRIVILEGE, COUNTY_MASK, 
    DEFAULT_PERMIT, STATUS, DISTRICT_ID, DEPARTMENT_ID, CITY_CODE, CITY_NAME, COUNTY_CODE, 
    COUNTY_NAME, EMAIL, ORG_ID, USER_ID, USER_ID1, MERCHANT_CODE, PLATFORM, TOKEN, LOGIN_FAIL_TIMES, 
    FREEZE_TIME, LAST_LOGIN_PWD, create_time, delete_flag, update_time, USER_ROLE
    from operator
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, USERNAME, REALNAME, TELNO, WORKGROUP, PWD, LASTLOGIN, PRIVILEGE, COUNTY_MASK, 
    DEFAULT_PERMIT, STATUS, DISTRICT_ID, DEPARTMENT_ID, CITY_CODE, CITY_NAME, COUNTY_CODE, 
    COUNTY_NAME, EMAIL, ORG_ID, USER_ID, USER_ID1, MERCHANT_CODE, PLATFORM, TOKEN, LOGIN_FAIL_TIMES, 
    FREEZE_TIME, LAST_LOGIN_PWD, create_time, delete_flag, update_time, USER_ROLE
    from operator
  </select>
</mapper>